
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

###> contao/core-bundle ###
/assets/
/web/
/files/
/public/assets
/public/files/
/public/share/
/public/system/
/system/*
!/system/config/
/system/config/localconfig.php
/system/config/tcpdf.php
/system/modules/*/.skip
###< contao/core-bundle ###

###< PhpStorm IDE ###
/.idea/
###> PhpStorm IDE ###
