{% extends '@LearningCenter/base.html.twig' %}

{% block main %}
    <nav class="nav-extended green darken-3">
        <div class="nav-content">
            {{ knp_menu_render('grade',{'template': '@LearningCenter/menu/projectNav.html.twig'}) }}
        </div>
    </nav>
    <h2>{{ gradeName }}</h2>

    {% block grade %}

    {% endblock %}
{% endblock %}