{% extends '@LearningCenter/modules/grade/base.html.twig' %}

{% block grade %}
    <p>TEST</p>
    {{ include('@LearningCenter/modules/chat/chat.thread.html.twig') }}

    <form action="{{ url('lc_grade_chat_send') }}" method="post">
        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" />
    </form>

{% endblock %}
