{% extends '@LearningCenter/modules/widgets/modal.default.html.twig' %}

{% block modal_header %}
    <h4>Common Shares</h4>
{% endblock %}

{% block modal_body %}
    <h5>Verfügbare Shares:</h5>
    <div class="files-shares"></div>
    <h5>Einen neuen Share hinzufügen:</h5>
    <div id="add-share">
        {{ form_start(share) }}
            {{ form_widget(share.memberGroups) }}
            {{ form_widget(share.submit) }}
        {{ form_end(share) }}
    </div>
{% endblock %}