{% extends '@LearningCenter/modules/widgets/modal.default.html.twig' %}

{% block modal_header %}
    <h4>Datei hochladen</h4>
    <div class="divider"></div>
{% endblock %}

{% block modal_body %}
    <form action="{{ path('learningcenter_files.upload', {'fid': fid}) }}" class="dropzone">
        <div class="file-field input-field">
            <div class="fallback">
                <input name="file" type="file" multiple />
            </div>
        </div>
    </form>
{% endblock %}

{% block modal_footer %}
{% endblock %}