<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: {{ usedSpace }}" aria-valuenow="{{ usedSpace }}" aria-valuemin="0" aria-valuemax="100">{{ usedSpace }}%</div>
</div>