<div id="filemanager-toolbar" class="btn-toolbar" role="toolbar">
    <div class="btn-group">
        <button type="button" class="btn btn-dark btn-upload" data-toggle="modal" data-target="#files_upload_modal"><i class="fa fa-upload"></i><span>Upload</span></button>
        <button type="button" class="btn btn-dark btn-create-folder" data-toggle="modal" data-target="#files_create_directory_modal"><i class="fa fa-folder"></i><span>New Folder</span></button>
        <button type="button" class="btn btn-dark btn-download " data-toggle="modal" data-target="#files_download_modal"><i class="fa fa-download"></i><span>Download</span></button>
        <button type="button" class="btn btn-primary btn-dark btn-delete" data-toggle="modal" data-target="#files_delete_modal"><i class="fa fa-trash"></i><span>Delete</span></button>
        <button type="button" class="btn btn-primary btn-dark btn-share" data-toggle="modal" data-target="#files_share_modal" disabled><i class="fa fa-trash"></i><span>Share</span></button>
    </div>
</div>
