{% extends '@LearningCenter/modules/widgets/modal.form.html.twig' %}

{% set form = delete %}

{% block modal_header %}
    Delete File
{% endblock %}

{% block modal_body %}
    <p>Do you really want to delete this File?</p>
    {{ form_widget(form.id) }}
{% endblock %}

{% block modal_footer %}
    {{ form_widget(form.submit) }}
{% endblock %}