{% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="chip">
            <strong>{{ flashMessage.title }}</strong>
            {{ flashMessage.message }}
            <i class="close material-icons">close</i>
            {% if flashMessage.href is defined %}
                <a href="{{ flashMessage.href }}"><i class="fas fa-link"></i></a>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}