{% if app.session.started %}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="alert alert-{{ flashMessage.alert }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
            </button>
            <strong>{{ flashMessage.title }}</strong>
            {{ flashMessage.message }}
            {% if flashMessage.href is defined %}
                <a href="{{ flashMessage.href }}"><i class="fas fa-link"></i></a>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}