<div class="modal fade" id="{{ modal_id }}" tabindex="-1" role="dialog">
    {{ form_start(form) }}
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    {% block modal_header %}
                    {% endblock %}
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {% block modal_body %}
                {% endblock %}
            </div>
            <div class="modal-footer">
                {% block modal_footer %}
                {% endblock %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>