<div id="{{ modal_id }}" class="modal" role="document">
    <div class="modal-content">
        {% block modal_header %}
        {% endblock %}
        {% block modal_body %}
        {% endblock %}
    </div>
    <div class="modal-footer">
        {% block modal_footer %}
        {% endblock %}
    </div>
</div>
