{# Erweiterung und Erben des Standard Templates #}
{% extends '@LearningCenter/base.html.twig' %}

{# Hauptbereich wird editiert #}
{% block main %}
    {# Rendern des Projekt Men端s 端ber den Menu Renderer #}
    {{ knp_menu_render('project',{'template': '@LearningCenter/menu/projectNav.html.twig'}) }}

    {# Einf端gen des Projektnames, aus dem vom Controller 端bergebenden Projekt Objekt #}
    <div class="col s12">
        <h5>{{ project.name }}</h5>
    </div>

    {# Neuer Bereich, der von Templates bearbeitet werden kann, die dieses Template erben #}
    {% block project %}

    {% endblock %}
{% endblock %}