{% extends '@LearningCenter/base.html.twig' %}

{% block main %}
    <nav class="nav-extended">
        <div class="nav-content">
    {{ knp_menu_render('project',{'template': '@LearningCenter/menu/projectNav.html.twig'}) }}
        </div>
    </nav>
    <h2>{{ project.name }}</h2>
    {% block project %}

    {% endblock %}
{% endblock %}