{% extends '@LearningCenter/modules/project/base.html.twig' %}

{% block project %}
    <p>TEST</p>
    {{ include('@LearningCenter/modules/chat/chat.thread.html.twig') }}

    <form action="{{ url('lc_projects_chat_send', {'id': project.id}) }}" method="post">
        {{ form_widget(form) }}

        <input class="btn btn-primary" type="submit" />
    </form>
{% endblock %}
