{# Erweiterung und Erben des Standard Projekt Templates #}
{% extends '@LearningCenter/modules/project/base.html.twig' %}

{# Festlegung der Domain für alle Übersetzungen in diesem Template #}
{% trans_default_domain 'project' %}

{# Hauptbereich der Projekt Details wird editiert #}
{% block project %}
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                {# Titel für die Projekt Beschreibung wird über den Translator in Twig und die Übersetzungs ID übersetzt #}
                <span class="card-title">{% trans %}project.description{% endtrans %}</span>
                {# Einfügen der Projekt Beschreibung aus dem Projekt Objekt, dass im Controller übergeben wurde #}
                <p>{{ project.description }}.</p>
            </div>
        </div>
    </div>
{% endblock %}