{% extends '@LearningCenter/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Login!</h1>
                <h1>TEST</h1>
                <button type="submit" class="btn btn-success">Login <span class="fa fa-lock"></span></button>
            </div>
        </div>
    </div>
{% endblock %}