{% extends '@LearningCenter/base.html.twig' %}

{% block main %}

    <div class="catalog-timeline">
    {% for file in files %}
    <div class="col s12 l6 offset-l3">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">{{ file.name }}</span>
                <p>{{ file.shared_group }}</p>
                <p>{{ file.shared_time }}</p>
            </div>
            <div class="card-action">
                <a href="{{ file.href }}"><i class="fas fa-download"></i> Download</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
{% endblock %}