{% extends '@LearningCenter/base.html.twig' %}

{% block main %}
    <div class="dashboard">
        <div class="card">
            <div class="card-body">
                <h5>{% trans %}Welcome %name%, in the Learning Center of the School %schoolname%.{% endtrans %}</h5>
            </div>
        </div>
    </div>
{% endblock %}