{% extends '@LearningCenter/base.html.twig' %}
{% trans_default_domain 'project' %}

{% block main %}
    <div class="col s12">
        <h4>Meine Projekte</h4>
    </div>
    {% if showProjects %}
        <div class="col s12">
            <table>
        <thead>
            <tr>
                <th>{% trans %}project.state{% endtrans %}</th>
                <th>{% trans %}project.name{% endtrans %}</th>
                <th>{% trans %}project.description{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>
                        {% if project.confirmed %}
                            <i class="fas fa-check-circle mr-1 text-success" data-toggle="tooltip" data-placement="top" title="The project has to be confirmed by a teacher!"></i>
                        {% else %}
                            <i class="fas fa-clock mr-1 text-danger" data-toggle="tooltip" data-placement="top" title="Project is confirmed by a teacher!"></i>
                        {% endif %}
                    </td>
                    <td><a href="{{ url('lc_projects_detail', {'id': project.id })}}">{{ project.name }}</a></td>
                    <td>{{ project.description }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table></div>
    {% endif %}

    {% if is_granted('project.create') %}
        <div class="col s12">
            <a class="btn" href="{{ url('lc_projects_create') }}">{% trans %}project.create{% endtrans %}</a>
        </div>
    {% endif %}

    {% if is_granted('project.list.all') %}
        <div class="col s12">
            <a class="btn" href="">{% trans %}project.list.all{% endtrans %}</a>
        </div>
    {% endif %}
{% endblock %}